<!-- contact.html -->
<div class="jumbotron text-center">
	<h1>Contact Us</h1>
   <!--  <h2>Feel free to contact us. Please select the option the suits you the best.</h2> -->
	<p>{{ message }}</p>
</div>
<div class="contactType">
	<div class="call">
		<div class="contact-icon"><i class="fa fa-mobile fa-2x"></i></div>
		<div class="contact-text"><p>Call us at<br>123.456.7890</p></div>
	</div>
	<div class="address">
		<div class="contact-icon"><i class="fa fa-map-marker fa-2x"></i></div>
		<div class="contact-text"><p>We are located<br>Canada Vancouver 302-3</p></div>
	</div>
	<div class="email">
		<div class="contact-icon"><i class="fa fa-envelope fa-2x"></i></div>
		<div class="contact-text"><p>Email us at<br>justsample@hotmail.com</p></div>
	</div>
</div>